.chat-background {
    background-color: gray;
    white-space: pre-wrap;
}
.btn-submit {
    background-color: blueviolet;
    color: antiquewhite;
}
.input-form {
    display: flex;
    justify-content: center;
}